@font-face {
  font-family: blod;
  src: url(../font/Bold.woff2);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary: #00ff00;
  --bs-btn-bg: #00ff00;

}
body {
  color: #ffffff;
  background: #12131a;

}
/* ==================== setting ====================*/

.page-btn {
  background: #ddd;
  color: #2c303a;
  height: 35px;
  border-radius: 2px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background 0.3s ease;
  margin: 0 2px
}

.page-btn:first-of-type {
  margin-left: 0;
}

.page-btn:last-of-type {
  margin-right: 0;
}

.page-btn:not([class$="-page"]) {
  width: 35px;
}

.pagination-buttons {
  display: flex;
  align-items: center;
}

.page-btn[class*="-page"] {
  background: #ccc;
  font-size: 0.6em;
  font-weight: 700;
}

.page-btn.active {
  background: #717790;
  color: #fff;
}

.page-btn[disabled] {
  opacity: 0.3;
}
.ipprice{
  width: 50%;
}
.inputboxes,
.pricebutton {
    margin: 0;
}
.pricei{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.headertext{
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.partext{
  font-size: 20px;
  margin-bottom: 10px;
}

.radiotext{
  font-size: 20px;
}

.inputboxes{
 width: 50%;
  height: 30px;
}






.date-input-container {
   
  display: flex;
  align-items: center;
}

.date-input { 
  border-radius: 5px !important;
  width: 100%;
  text-align: center;
}

.date-separator {
  margin: 0 0.5em;
}
.navbar-light .navbar-toggler {
  color: #ffffff;
}

.range-slider {
  zoom: 1;

  padding-top: 3.5em;
  position: relative;
  text-align: center;
}
.range-slider:before, .range-slider:after {
  content: " ";
  display: table;
}
.range-slider:after {
  clear: both;
}
@media (min-width: 640px) {
  .range-slider {
    padding-top: 3.5em;
  }
}
@media (min-width: 1024px) {
  .range-slider {
    padding-top: 3.5em;
  }
}
.range-slider .track {
  border-radius: 5px;
  bottom: 15px;
  height: 6px;
  left: 0;
  margin-bottom: -3px;
  position: absolute;
  width: 0;
  z-index: 50;
}
@media (min-width: 640px) {
  .range-slider .track {
    bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .range-slider .track {
    bottom: 15px;
  }
}
.range-slider .track--full {
  background: #3b3d4b
  ;
  width: 100%;
}

.range-slider .track--included {
  box-shadow: 0px 0px 20px 0px #00ffff;
  background: #00ffff;
  border-radius: 3px;
}
.range-slider .slider-thumb {
  background: #555;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  display: block\9;
  height: 30px;
  left: 0;
  position: absolute;
  width: 30px;
  z-index: 101;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .range-slider .slider-thumb {
    display: block;
  }
}
@media (min-width: 640px) {
  .range-slider .slider-thumb {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider .slider-thumb {
    height: 30px;
    width: 30px;
  }
}
.range-slider [type=range] {
  -webkit-appearance: none;
  background: none;
  height: 30px;
  margin: 0;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: 75;
}
@media (min-width: 640px) {
  .range-slider [type=range] {
    height: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range] {
    height: 30px;
  }
}
.range-slider [type=range]:focus {
  outline: none;
}
.range-slider [type=range]::-moz-focus-outer {
  border: 0;
}
.range-slider [type=range]:first-of-type {
  float: left;
  margin-bottom: -30px;
}
@media (min-width: 640px) {
  .range-slider [type=range]:first-of-type {
    margin-bottom: -30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range]:first-of-type {
    margin-bottom: -30px;
  }
}
.range-slider [type=range]:last-of-type {
  float: right;
  margin-bottom: 0;
}
.range-slider [type=range]::-webkit-slider-runnable-track {
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]::-ms-fill-lower {
  background: none;
  border: 0;
}
.range-slider [type=range]::-ms-fill-upper {
  background: none;
  border: 0;
}
.range-slider [type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  color: transparent;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]:focus::-ms-fill-lower {
  background: none;
  border: 0;
}
.range-slider [type=range]:focus::-ms-fill-upper {
  background: none;
  border: 0;
}
.range-slider [type=range]::-moz-range-track {
  -moz-appearance: none;
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 20px 0px #00ffff;
  -webkit-appearance: none;
  background: #00ffff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  outline: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}
@media (min-width: 640px) {
  .range-slider [type=range]::-webkit-slider-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range]::-webkit-slider-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}
.range-slider [type=range]::-ms-thumb {
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}
@media (min-width: 640px) {
  .range-slider [type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
  }
}
.range-slider [type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}
@media (min-width: 640px) {
  .range-slider [type=range]::-moz-range-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .range-slider [type=range]::-moz-range-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}
.range-slider .output,
.range-slider output {
  backdrop-filter: blur(10px);

  border-radius: 38px;
  color: #00ffff;
  display: inline-block;
  height: 2.5em;
  left: 50%;
  line-height: 2.5em;
  padding: 0 0.75em;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translate(-50%, 0);
}


.earper{
  max-width: 450px;
}
.icon:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input{
  border-radius: 28px !important;

  background: rgb(28 41 57);
  width: 100%;

  position: relative;

}

.search-input input{
  background: rgb(28 41 57);
  color: #ffffff;

 border-radius: 38px !important;
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
 
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 20px 20px 0 rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  border-radius: 37px;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{

  overflow-y: hidden;

  opacity: 1;
  pointer-events: auto;
  max-height: 200px; /* ارتفاع محدود شده */
  overflow: scroll; /* ایجاد اسکرول */
  padding: 10px;

    scrollbar-width: none;
  -ms-overflow-style: none;
}

.autocom-box::-webkit-scrollbar {
  display: none;
}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  transition: 0.3s;
  display: block;
}
.autocom-box li:hover{
  text-shadow: 0px 0px 5px #ffffff, 0 0 10px #ffffff;
  transform: scale(1.1);
  transition: 0.3s;
  color: #ffffff;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: normal;


}

::selection{
  color: #ffffff !important;
  background-color: #ff0000;
}


.carousel-indicators [data-bs-target] {
  background: #000000;
  border: 1px solid #00ff00;
  
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.carousel-indicators{
  left: 0;
  top: auto;
  bottom: -70px;
}

.carousel-indicators .active{
background: #00ff00;
transform: scale(1.1);
}

.textbox{
  border-radius: 5px !important;
  resize: none;
}
.textbox::-webkit-scrollbar{
  width: 0px;
}
.imgadd{
  border-radius: 15px;
}
.footertext{
  text-align: right;
}
.form-floating>label{
text-align: end;
}
.form-select {
    background: none !important;
    color: #00ff00 !important;
  }
.form-select option{
    background: #000000 !important;
    border: none !important;
    text-align: right;
  }
  
  .form-select>option:hover{
   
  }
.textabout{
  text-align: right !important;
}
a{
 
  color: #00ff00;
}
a:hover{
color: #00ff00;
}
.footimg{
  border-radius: 15px;
}

.rounded-circle {
  box-shadow: none !important;
  background: #12131a !important;
    color: #8c9ba9 !important;
}
.txtuser{
  text-shadow: 0px 0px 20px #00ffff5c;
  color: #00ffff !important;
}
.texthelp{
  color: #00ffff;
}
.text-danger{
  color: #ffffff !important;
}
.beasting{
  text-align: right;
}
.btnform{
  backdrop-filter: blur(5px);
  border-radius: 35px;
    border: 1px solid rgba(255 255 255 / 10%) !important;
    background: #293a4c;
    color: #ffffff;
}
.btnform:hover{
  transform: scale(1.1);
}
.navbar-toggler{
  color: #00ff00;
  transition: .3s;
}
.navbar-toggler:focus{
  box-shadow: none;

}
.navbar-toggler:active{
  transform: scale(1.5);

}
.bg-white{
  background: none !important;
}
.btn-primary{
  --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #00ff00;
}
.search{
  border: 1px solid #00ff00 !important;
  color: #00ff00 !important;
  text-align: center;
  background: #000000;
}
.search:focus{
  background: #000000;
}
::placeholder{
 color: #ffffff !important;
 font-size: 15px !important;
}
.text-primary{
  --bs-bg-opacity: none;
  color: #61a3d7 !important;
}


.border-primary{
  border-radius: 15px;
    background: #12131a;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px, rgba(0, 0, 0, 0.12) 0px 10px 10px;
    color: #ffffff;
    border: none !important;
  border-radius: 15px;
}

.btn.btn-social{
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
color: #00ff00;
}
.btn.btn-social:hover{
  color: #000000;
  background: #00ff00;
}

/* ==================== hero section ====================*/
.hero-header{
  background: linear-gradient(#12131a87, #12131a), url(../image/about/4xxlbdbv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ==================== navbar ====================*/

.navbar-light .navbar-nav .nav-link{

  position: relative;
  margin-right: 25px;
  padding: 35px 0;
  color: #ffffff !important;
  font-size: 0.8500rem;
  font-weight: 600;
  transition: 0.5s;
  outline: none;
}
/*  for responsive deveic */
@media (min-width: 992px){
  
  .navbar-light{
    position: absolute;
    width: 100%;
    left: 0;
    filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, .1) ;
    z-index: 999;
  }
  .navbar-light .navbar-nav .nav-link::before{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 50%;
  background: var(--primary);
  transition: 0.5s;
  }
  .navbar-light .navbar-nav .nav-link:hover:before,
  .navbar-light .navbar-nav .nav-link.active::before{
    width: calc(100% - 2px);
    left: 1px;
  }
}
@media (max-width: 991.98px) {
  .textlink{
    text-align: right !important;
  }
  .navbar-light .navbar-collapse{
    margin-top: 15px;
    border-top: 1px solid #dddddd;
  }
  .navbar-light .navbar-nav .nav-link{
    padding: 10px 0;
    margin-left: 0;
    color: var(--dark) !important;
  }
}
  


/* ==================== service ====================*/
.service-item{
  background: #12131a;
    color: #ffffff;
    border: none !important;
  border-radius: 15px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px 0px, rgba(0, 0, 0, 0.12) 0px 10px 10px;
transition: 0.5s;
cursor: pointer;
}
.service-item:hover{
 
  transform: scale(1.1);
}


.service-item i{
  font-size: 30px;
}
/* ==================== destination ====================*/
.destination img{
  border-radius: 15px;
  transition: 0.5s;
}
.destination a:hover img{
  transform: scale(1.1);
}
/* ==================== package-item ====================*/
.package-item{
  background: #12131a;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px, rgba(0, 0, 0, 0.12) 0px 10px 10px;
  transition: 0.5s;
}
.package-item:hover{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.package-item img{

  width: 100%;
  transition: 0.5s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.package-item:hover img{
transform: scale(1.1);
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.btn{
 
  font-weight: 600;
  transition: 0.5s;
}
.btn.btn-primary,
.btn.btn-secondary{

  border-radius: 35px;
  border: 1px solid rgba(255 255 255 / 10%) !important;
  background: #293a4c;
  color: #ffffff;
 
  

}
.btn.btn-primary:hover,
.btn.btn-secondary:hover{
  border: solid 1px #000000;
  background: #ffffff;
  color: #000000;
  transform: scale(1.1);
}
.btn-square{
  width: 38px;
  height: 38px;
}
.border-end {
border: none !important;
}
.fa-star{
  color: #ffd040 !important;
}
.numbermoney{
  color:#00ffff;
}
.cardicon{
  color: #ffffff !important;
}
.border-bottom {
  border-bottom: none !important;
}
/* ==================== booking section ====================*/

.form-control:focus{
color: #fff;
  box-shadow: none;
}
.form-control{

  background: rgb(28 41 57) !important;
  border-radius: 38px;
  color: #ffffff;
  border: none;
  direction: rtl;
}
.form-select{
  color: #ffffff;
  border: 1px solid #00ff00;
}
.form-select:focus{
  color: #00ff00;
  border: 1px solid #00ff00;
  box-shadow: none;
}
.booking{
  border-radius: 15px;
  background: linear-gradient(rgba(15, 23, 43,0.7), rgba(15, 23, 43, 0.7)), url(../image/about/wallpapersden.com_pubg-mobile-season-15_4000x2251.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ==================== team-item ====================*/

.team-item{
  background: #12131a;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px, rgba(0, 0, 0, 0.12) 0px 10px 10px;
  color: #ffffff;
 

  transition: 0.5s;
  border-radius: 15px;
}

.team-item img{
  
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.team-item:hover img{
 
  
}
.team-item .btn{
  background: #12131a;

color: #00ffff !important;
  border-radius: 20px;
}
.team-item .btn:hover{
transform: scale(1.1);
}
.team-item .btn.btn-square{
  border: none;
  color: #00ff00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-item .btn.btn-square:hover{
  color: #000000;
}
/* ==================== testimonial section ====================*/
.testimonial-carousel::before{
position: absolute;
content: '';
top: 0;
left: 0;
height: 100%;
width: 0;
z-index: 1;
}
.testimonial-carousel::after{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after{
    width: 200px;
  }
  
}
.testimonial-carousel .owl-items   .testimonial-item,
  .testimonial-carousel .owl-items   .testimonial-item *{
    transition: 0.5s;
  }
.testimonial-carousel .owl-items.center  .testimonial-item {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}
.testimonial-carousel .owl-items   .testimonial-item *{
  color: #ffffff !important;
}
.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.testimonial-carousel .owl-dot{
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  transition: 0.5s;
}
.testimonial-carousel .owl-dot:active{
  background: var(--primary);
  background-color: var(--primary)
}
/* ==================== footer section ====================*/
 .isoc{
color: #5dadea !important;
}
.footer{
  background-color: #1d2633 !important;
}
.footer .btn.btn-social{
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5dadea !important;
  font-weight: normal;
  border: none;
  background: #293a4c;
  border-radius: 35px;
  transition: 0.3s;
}
.footer .btn.btn-social:hover{
 transform: scale(1.1);
}
.btnfoot{
text-shadow: 0 0 20px #00ffff;
  display: block;
  margin-bottom: 5px;
  padding: 0;
  align-items: left;
  color: #00ffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}
.btnfoot::before{
  position: relative;
  content: "\f105";
  font-weight: 900;
  margin-right: 10px;
}
.btnfoot:hover{
letter-spacing: 1px;
box-shadow: none;
}
.footer .copyright{
padding: 25px 0 80px;
font-size: 15px;
border-top: 1px solid rgba(255, 255, 255, .1);
}
.footer .footer-menu a{
  display: flex;
  color: #00ff00;
  padding-right: 15px;
  border: 1px solid rgba(255, 255, 255, .1);
}
.footer .footer-menu a:last-child{
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.textlink{
  justify-content: flex-end !important;
}








.slider-wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.item {
  width: 200px;
  height: 100px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
}




.left .item {
  left: max(calc(200px * 8), 100%);
  animation: scrollLeft 30s linear infinite;
}

.right .item {
  right: max(calc(200px * 8), 100%);
  animation: scrollRight 30s linear infinite;
}

.left .item1,
.right .item1 {
  animation-delay: calc((-30s / 8) * 7);
}
.left .item2,
.right .item2 {
  animation-delay: calc((-30s / 8) * 6);
}
.left .item3,
.right .item3 {
  animation-delay: calc((-30s / 8) * 5);
}
.left .item4,
.right .item4 {
  animation-delay: calc((-30s / 8) * 4);
}
.left .item5,
.right .item5 {
  animation-delay: calc((-30s / 8) * 3);
}
.left .item6,
.right .item6 {
  animation-delay: calc((-30s / 8) * 2);
}
.left .item7,
.right .item7 {
  animation-delay: calc((-30s / 8) * 1);
}
.left .item8,
.right .item8 {
  animation-delay: calc((-30s / 8) * 0);
}
@media (max-width: 640px) {
  .item {
    width: 150px;
    height: 75px;
  }
  .left .item {
    left: max(calc(150px * 8), 100%);
  }
  .right .item {
    right: max(calc(150px * 8), 100%);
  }
}
.haydar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  background-color: var(--menuo-color) !important;
  z-index: 999 !important;
  transition: .4s !important;
}

/*=============== menuo ===============*/
.menuo {
  height: var(--header-height) !important;
  display: flex !important;
  justify-content: space-around;
  align-items: center !important;
}



.menuo__logo {
  color: var(--title-color) !important;
  font-weight: 600 !important;
}

@media screen and (max-width: 767px) {
  .menuo__menu {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255 255 255 / 10%);
    background-color: #12131ab5;
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15) !important;
    width: 100% !important;
    height: 4rem !important;
    padding: 0 1rem !important;
    display: grid !important;
    align-content: center !important;
    border-radius: 1.25rem 1.25rem 0 0 !important;
    transition: .4s !important;
  }
}

.menuo__list, 
.menuo__link {
  display: flex !important; 
  list-style: none !important;
  padding: 0;
    margin: 0;
}

.menuo__link { 
  text-decoration: none;
  flex-direction: column !important;
  align-items: center !important;
  color: var(--title-color) !important;
  font-weight: 600 !important;
}

.menuo__list {
  justify-content: space-around !important;
}

.menuo__name {
  font-size: 10px;
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.menuo__icon {
  font-size: 1.5rem !important;
}

/*Active link*/
.active-link {
  position: relative !important;
  color: var(--first-color) !important;
  transition: .3s !important;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15) !important;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .menuo__name {
    display: none !important;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .menuo__list {
    justify-content: center !important;
    column-gap: 3rem !important;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0 !important;
  } 
  .section {
    padding: 7rem 0 2rem !important;
  }
  .menuo {
    border-radius: 0 0 38px 38px;
        border: 1px solid rgba(255 255 255 / 10%) !important;
        background-color: #12131ab5;
        backdrop-filter: blur(5px);
    height: calc(var(--header-height) + 1.5rem) !important; /* 4.5rem */
  }
 
  .menuo__icon {
    display: none !important;
  }
  .menuo__name {
    font-size: 22px !important;
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .menuo__link:hover {
    color: var(--first-color) !important;
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '' !important;
    position: absolute !important;
    bottom: -.75rem !important;
    width: 4px !important;
    height: 4px !important;
    background-color: var(--first-color) !important;
    border-radius: 50% !important;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .menuo {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.easy-basket-filter {
  width: 50%;
  margin: 100px 25%;
  position: relative;
}
.fill {
  height: 3px;
  width: 100%;
  background-color: #5dadea;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.easy-basket-filter-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: -50px;
}
.easy-basket-filter-info p{
  color: #5dadea;
  padding: 2px 6px;
  margin:0;
}
.easy-basket-filter-info .iLower{
  float:left;
  display: inline-block;
}
.easy-basket-filter-info .iUpper{
  float:right;
  display: inline-block;
}

.easy-basket-filter-info input{
  width: inherit;
  border: none;
  color: #5dadea;
  font: 11px;
  width: 30px;
  text-align:center;
}
/***** Position dual *****/
.range {
  position: absolute;
  left: 0;
  top: 0;
}

/****** Style range ******/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

input[type=range]:focus, input[type=text]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height:11px;
  width: 11px;

  border-radius: 100%;
  background: #5dadea;
  cursor: pointer;
  margin-top: -4px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #edf0f2;
  border-radius: 1.3px;
}

input[type=range].lower::-webkit-slider-runnable-track {
  background: red;
}
.footer-links{
  display: flex;
}

/******* select ********/



.select-opt{
  width: 0px;
  height: 0px;
  position: absolute;
  opacity: 0;
}
.custom-select-wrapper {
     position: relative;
     user-select: none;
}
 .custom-select {
     position: relative;
     display: flex;
     flex-direction: column;
     border-width: 0 2px 0 2px;
/*      border: 1px solid #f1f1f1; */
     border-color: #394a6d;
}
 .custom-select__trigger {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 22px;
     font-size: 20px;
     font-weight: 300;
     color: #071a52;
     height: 60px;
     line-height: 60px;
     background: #a7ff83;
     cursor: pointer;
     border-width: 2px 0 2px 0;
     border: 1px solid #a7ff83;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
}
 .custom-options {
     position: absolute;
     display: block;
     top: 100%;
     left: 0;
     right: 0;
     border: 2px solid #394a6d;
     border-top: 0;
     background: #17b978;
     transition: all 0.5s;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 2;
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
}
 .custom-select.open .custom-options {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
}
 .custom-option {
     position: relative;
     display: block;
     padding: 0 22px 0 22px;
     font-size: 22px;
     font-weight: 300;
     color: #3b3b3b;
     line-height: 60px;
     cursor: pointer;
     transition: all 0.5s;
}
 .custom-option:hover {
     cursor: pointer;
     background-color: white;
}
 .custom-option.selected {
     color: white;
     background-color: #17b978;
   opacity: 0.8;
}
.arrow {
     position: relative;
     height: 15px;
     width: 15px;
}
 .arrow::before, .arrow::after {
     content: "";
     position: absolute;
     bottom: 0px;
     width: 0.15rem;
     height: 100%;
     transition: all 0.5s;
}
 .arrow::before {
     left: -5px;
     transform: rotate(-45deg);
     background-color: #394a6d;
}
 .arrow::after {
     left: 5px;
     transform: rotate(45deg);
     background-color: #394a6d;
}
 .open .arrow::before {
     left: -5px;
     transform: rotate(45deg);
}
 .open .arrow::after {
     left: 5px;
     transform: rotate(-45deg);
}
.hidden{
  display: none;
}