@font-face {
    font-family: blod;
    src: url(font/Bold.woff2);
  }

body{
    font-family: 'blod', sans-serif;
    background: #000000;
}
.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.btn{
    font-size: 0.8rem;
    font-weight: 700;
}
.btn i{
    vertical-align: text-top;
}
.btn-outline-custom{
   border-radius: 50px; 
   border: 1px solid #00ff00;
   color: #ffffff;
   transition: 0.5s;
}
.btn-outline-custom:hover{
background: #00ff00;
    color: #000000;
    border-color: #00ff00;
    transform: scale(1.1);
}
.btn-outline-secondary {
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #00ff00;
    --bs-btn-active-border-color: #000000;
}
.divider-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #000000;
    font-size: 0.8rem;
    font-weight: 500;
    color: #00ff00;
}
.divider{
    margin: 2rem 0;

}
.form-control{
    color: #ffffff;
background: #000000;
border: 1px solid #00ff00;
border-bottom-right-radius: 50px;
border-top-right-radius: 50px;
}
.form-control:focus{
    color: #00ff00;
    background: #000000;
    box-shadow: none;
    border: 1px solid #00ff00;
}
.form-control::placeholder{
    color: #ffffff;
}
.input-group-text{
    background: #00ff00;
    border: 1px solid #00ff00;
}
.form-check-input{
    background-color: #000000;
    border: 1px solid #00ff00;
}
.form-check-input:focus{
    border-color: #00ff00;
    background: #000000;
    box-shadow: 0 0 0 0.25rem rgba(0,255,0,.25);
}
.form-check-input:checked {
    background-color: #00ff00;
    border-color: #00ff00;
}
h3{
    color: #00ff00;
}
.text-secondary {
    color: rgb(255 255 255) !important;
}
.form-check-input:checked[type=checkbox] {
    background-image: url(../../image/log/check-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary{
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #00ff00;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #00ff00;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #00ff00;
    --bs-btn-active-border-color: #000000;
    border-radius: 50px;
    transition: 0.5s;
}
.btn-primary:hover{
    transform: scale(1.1);
}
a{
    color: #00ff00;
}
a:hover{
    color: #00ff00;
}
small{
    color: #ffffff;
}
.text-danger{
    color: #00ff00 !important;
    transition: 0.5s;
}
.btn-outline-secondary:hover .text-danger{
color: #000000 !important;
}

