@font-face {
    font-family: yekan;
    src: url(font/Yekan.ttf);
  }

body{
    font-family: 'yekan', sans-serif;
    background: #12131a;
}
.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.btn{
    font-size: 0.8rem;
    font-weight: 700;
}
.btn i{
    vertical-align: text-top;
}
.btn-outline-custom{
   border-radius: 50px; 
border: none;
   color: #ffffff;
   transition: 0.5s;
}


.divider-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #12131a;
    font-size: 0.8rem;
    font-weight: 500;
    color: #00ffff;
}
.divider{
    margin: 2rem 0;

}
.form-control{
    color: #ffffff;
background: #12131a;
box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px 0px, rgba(0, 0, 0, 0.12) 0px 10px 10px;
border-bottom-right-radius: 50px;
border-top-right-radius: 50px;
border: none;
}
.form-control:focus{
    color: #00ffff;
background: #12131a;
box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 28px 0px, rgba(0, 0, 0, 0.12) 0px 10px 10px;

}
.form-control::placeholder{
    color: #ffffff;
}
.input-group-text{
    background: #00ffff;
color: #000;
border: none;
}
.form-check-input{
    background-color: #000000;
    border: 1px solid #00ff00;
}
.form-check-input:focus{
    border-color: #00ff80;
    background: #12131a;
    box-shadow: none;
}
.form-check-input:checked {
    background-color: #00ff80;
    border-color: #00ff80;
}
h3{
    color: #00ff80;
}
.text-secondary {
    color: rgb(255 255 255) !important;
}
.form-check-input:checked[type=checkbox] {
    background-image: url(../../image/log/check-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginbtn{
background: #00ffff;
    border-radius: 50px;
    transition: 0.5s;
    width: 50%;
}
.loginbtn:hover{
    transform: scale(1.1);
    background: #00ffff;
    border: none;
}
.loginbtn:active{
    background: #00ffff !important;
    border: none;
}
.loginbtn:focus{
    background: #00ffff;
    border: none;
}
a{
    color: #00ffff;
}
a:hover{
    color: #00ffff;
}
small{
    color: #ffffff;
}
.text-danger{
    color: #000000 !important;
    transition: 0.5s;
}
.btn-outline-secondary:hover .text-danger{
color: #000000 !important;
}

.btn-center{
    text-align: center;
}